body {
    background-color: lightcyan;
}

h1 {
    padding: 36px;;
    color: #800000;
    font-family: SansSerif, sans-serif;
}

h3 {
    color: #191970;
    font-family: SansSerif,sans-serif
}

.sisu {
    background-color: azure;
    max-width: 1000px;
    min-width: 600px;
    margin:auto;
}


.menu {
    display: flex;
    background-color: navy;
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    font-family: SansSerif, sans-serif;
}

.menu_link {
    float: left;
    color: azure;
    border-right: 1px solid azure;
    display: block;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
    font-family: SansSerif, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.session_link {
    position: absolute;
    right: 0px;
    padding: 10px;
    color: azure;
    border-left: 1px solid azure;
    display: block;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
    font-family: SansSerif, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.menu_link:hover {
    text-decoration: underline;
    background-color: silver;
}

.registreeri {
    margin:auto;
    width: 35%;
    position:relative;
    top: 50px;
    padding-bottom: 40px;
    border: solid;
    border-radius: 5px;
    text-align: center;
}

.small_text {
    font-size: 10px;
}


.lingid {
    color: darkgreen;
}

.lingid:hover {
    font-weight: bold;
}

.sisu_tekst {
    font-size: 14px;
    font-family: SansSerif, sans-serif;
}

#tekst {
    color: maroon;
    font-size: 18px;
    font-family: SansSerif, sans-serif;
}

#cell{ /* paigutab pildi ja teksti vertikaalselt keskele nagu tabelivälja */
    display:table-cell;
    vertical-align:middle;
}
#sisu { /* teeb pildi ümbruse kitsamaks ja annab tausta */
    display: table;
    margin: auto;
    background: rgba(0,0,0,0.7);
    padding: 10px;
}

.pealkiri {
    font-family: SansSerif, sans-serif;
    font-weight: bold;
    font-size: 52px;
    color: navy;
    text-align: center;
}

/*login form: http://codepen.io/miroot/pen/qwIgC*/

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
    margin-top: 0;
    margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: navy;
}

.login-header {
    background: navy;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: azure;
}

.login-container {
    background: #ebebeb;
    padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
    padding: 12px;
}

.login input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

.login input[type="text"],
.login input[type="password"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
}

/* Text fields' focus effect */
.login input[type="text"]:focus,
.login input[type="password"]:focus {
    border-color: #888;
}

.login input[type="submit"] {
    background: navy;
    border-color: transparent;
    color: azure;
    cursor: pointer;
    font-size: 14px;
}

.login input[type="submit"]:hover {
    background: #17c;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
    border-color: #05a;
}

/*Trennide tabel*/
.tabel {
    margin: 40px auto;
    font-family: SansSerif, sans-serif;
    font-size: 14px;
    color: navy;
    tr:hover;
}

.tabel th {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px;
    border-bottom: solid;
    border-bottom-color: #555555;
}

.tabel td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px;
    border-bottom: solid;
    border-bottom-color: #555555;

}

.tabel caption {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
}
