<?php
if (!isset($_SESSION["user"])) {
    header("Location: ?page=login");
} ?>
<div class=sisu>
    <h3>Tere tulemast!</h3>
    <div class = sisu_tekst>
        <p>Siin lehel saad vaadata oma tehtud trenne. Vali menüüst, mida soovid teha. </p>
        <p>Hetkel ei ole lehel täit funktsionaalsust, tulevikus on plaanis lisada registreerimisvõimalus
        statistika tegemise võimalus (näiteks mitu kilomeetrit aastas/kuus/nädalas on joostud), andmete filtreerimine ja muid funktsionaalsusi.
        Andmete sisestamisel võivad tühjaks jääda distantsi ning kommentaari väljad, kuna distants ei ole kõigil spordialadel mõõdetav.</p>
        
    </div>
</div>
