<?php
if (!isset($_SESSION["user"])) {
    header("Location: ?page=login");
} ?>
<div class=sisu>
    <h3>Tere tulemast!</h3>
    <div class = sisu_tekst>
        <p>Siin lehel saad vaadata oma tehtud trenne. Vali menüüst, mida soovid teha. </p>
        <p>Hetkel ei ole lehel täit funktsionaalsust, registreerimisvõimalust samuti pole, kuna see ei ole hetkel oluline. </p>
        <p>Sisestamisel peaks lisama kontrolli, et poolikut vormi ei saaks salvestada, samuti mis vormis numbreid lisatakse </p>

    </div>
</div>