<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trennipäevik</title>

    <link rel="stylesheet" type="text/css" href="style.css" >
    <ul class="menu">
        <li>
            <a class="menu_link" href="views/avaleht.html">Avaleht</a>
            <a class="menu_link" href="views/trennid.html">Minu trennid</a>
            <a class="menu_link" href="views/lisa_trenn.html">Lisa trenn</a>
            <?php if(isset($_SESSION['user'])): ?>
            <a class="session_link" href="?page=logout">Logi välja</a>
            <?php endif; ?>
        </li>
    </ul>
</head>
<body>
