<div class="registreeri">
    <form action="?page=registreeri" method="POST" >
        <h1>Registreeri</h1>
        <table>
            <tr>
                <td>Eesnimi:</td>
                <td><input type="text" name="eesnimi" size="20"></td>
            </tr>
            <tr>
                <td>Perekonnanimi:</td>
                <td><input type="text" name="perenimi" size="20"></td>
            </tr>
            <tr>
                <td>Kasutajanimi:</td>
                <td><input type="text" name="kasutajanimi" size="20"></td>
            </tr>
            <td>Parool:</td>
            <td><input type="password" name="parool" size="20"></td>
            <tr>
                <td>Korda parooli:</td>
                <td><input type="password" name="parool2" size="20"></td>
            </tr>
        </table><br>
        <button type="SUBMIT">Registreeri</button><br>

    </form>

    <?php if (isset($errors)):?>
    <?php foreach($errors as $error):?>
    <div style="color:red;"><?php echo htmlspecialchars($error); ?></div>
    <?php endforeach;?>
    <?php endif;?>
</div>
