<?php 	if(isset($_SESSION["user"])) {

	}else {
		header("Location: ?page=login");
	 }
?>

<table id="trennid" class="tabel">
    <caption>Trennid</caption>

    <tr>
        <th>Ala nimetus</th>
        <th>Kuupäev</th>
        <th>Kestvus</th>
        <th>Distants</th>
        <th>Asukoht</th>
        <th>Kommentaar</th>
    <tr>


    <tbody>

    <?php if (!empty($trennid)): ?>
    <?php foreach ($trennid as $id=>$trenn): ?>
    <tr>
        <td>
            <?= htmlspecialchars($trenn['ala']); ?>
        </td>
        <td>
            <?= htmlspecialchars($trenn['kuup']); ?>
        </td>
        <td>
            <?= htmlspecialchars$trenn['kestus']; ?>
        </td>
        <td>
            <?= htmlspecialchars($trenn['asukoht']); ?>
        </td>
        <td>
            <?= htmlspecialchars($trenn['kommentaar']); ?>
        </td>
        <td>


    </tr>
    <?php endforeach; ?>
    <?php endif; ?>
    </tbody>
</table>